<div class="container">
    <div class="row"><h2>Data Binding & Directives</h2></div>
</div>

<hr>

<div class="container">
    <div class="row">

        {{menu}}

        <br>

        <span>This is For Angular {{works}} </span>

        <br>
        <br>

        <div *ngFor = "let block of blocks let i=index" style="color: red;">

             {{i + 1 + "."}}   {{block}}

        </div> 

       <!-- <ng-template ngFor let-block [ngForOf]="blocks" let-i="index">
            {{block}}
       </ng-template> -->
       

       <div *ngIf ="data.city">
            {{data.city}}
       </div>

<div >

</div>


<hr>

<div class="container">
    <div class="row">

        <p *ngIf="show">
            Show this only if "show" is true
        </p>

        <button type="button" (click)="hide()" class="btn btn-primary">Click</button>
        
        <hr>


        <div [ngClass]="{'demo':showCont, 'change':!showCont}">Classes demos</div>
        <br>
        <button type="button" (click)="ngbtn()" class="btn btn-primary">Button</button>

        
    <hr>

        <div [ngStyle]="dynamic()">
                ng Styles Properties
        </div>
    
        <hr>

        <!-- <img src="assets/images/location.jpg" width="300" height="200" alt="img"> -->
        <!-- <img src="{{logo}}" width="300" height="200" alt="img"> -->
        <img [src]="logo" width="300" height="200" alt="img"> <br>
        <br>
        <button type="button" class="btn btn-success" (click)="showImg()">Click</button>

        












        
    </div>
</div>
