
<div class="container">
    <div class="row"><h2 class="text-center">Register Forms</h2></div>
</div>


<div class="container">
    <div class="row">


<div class="col-md-5  col-md-offset-4">

    <div class="form-group">
        <input type="name" class="form-control" placeholder="Enter Name" [(ngModel)]="name">
    </div>

    <div class="form-group">
        <input type="email" class="form-control"  placeholder="Enter Email" [(ngModel)]="email">
    </div>

    <div class="form-group">
        <input type="number" class="form-control"  placeholder="Enter Number" [(ngModel)]="number">
    </div>

    <div class="form-group">
        <input type="password" class="form-control"  placeholder="Enter password" [(ngModel)]="password">
    </div>

    <div class="form-group">
        <input type="button" value="Register" class="btn btn-primary" (click)="register();">
    </div>
    

</div>





    </div>
</div>









