
<div class="container">
    <div class="row">
        <h2 class="text-center">Profile</h2>
    </div>
</div>



<div class="container">
    <div class="row">
       
    <div class="profile col-md-5 col-md-offset-4">
        
        <div class="form-group">
            <label>Resume Headline</label>
            <input type="name" class="form-control" placeholder="Enter Headline" [(ngModel)]="head">
        </div>

        <div class="form-group">
                <label>Key Skills</label>
                <input type="name" class="form-control" placeholder="Enter Skills" [(ngModel)]="skill">
        </div>

        <div class="form-group">
                <label>Employment</label>
                <input type="name" class="form-control" placeholder="Enter Employe" [(ngModel)]="employe">
        </div>

        <div class="form-group">
                <label>Education</label>
                <input type="name" class="form-control" placeholder="Enter Education" [(ngModel)]="education">
        </div>

        <div class="form-group">
                <label>Projects</label>
                <input type="name" class="form-control" placeholder="Enter Projects" [(ngModel)]="project">
        </div>
    
    
        <div class="form-group">
                <input type="button" value="save" class="btn btn-primary col-md-2" (click)="save();">
        </div>



    </div>



    </div>
</div>



